version: '3.8'

services:
  auth-postgres:
    image: postgres:latest
    container_name: auth-postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass123
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"
    volumes:
      - auth-data:/var/lib/postgresql/data
    networks:
      - minibank-network

  customer-postgres:
    image: postgres:latest
    container_name: customer-postgres
    environment:
      POSTGRES_DB: customer_db
      POSTGRES_USER: customeruser
      POSTGRES_PASSWORD: customerpass123
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5434:5432"
    volumes:
      - customer-data:/var/lib/postgresql/data
    networks:
      - minibank-network

  account-postgres:
    image: postgres:latest
    container_name: account-postgres
    environment:
      POSTGRES_DB: account_db
      POSTGRES_USER: accountuser
      POSTGRES_PASSWORD: accountpass123
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5435:5432"
    volumes:
      - account-data:/var/lib/postgresql/data
    networks:
      - minibank-network

volumes:
  auth-data:
  customer-data:
  account-data:

networks:
  minibank-network:
    driver: bridge